@font-face {
  font-family: 'EncodeSansRegular';
  src: url('../src/assets/Font/EncodeSans_Condensed-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'EncodeSansBold';
  src: url('../src/assets/Font/EncodeSans_Condensed-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'PoppinsMedium';
  src: url('../src/assets/Font/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'PoppinsRegular';
  src: url('../src/assets/Font/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PoppinsBold';
  src: url('../src/assets/Font/Poppins-SemiBold.ttf') format('truetype');
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

    --light-blue:#37bbed;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
